.navbar {
  background-color: #021f57;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bars {
  margin-right: 2rem;
  font-size: 2rem;
  background: none;
}

.navbar-title {
  margin: 0;
  flex-grow: 1;
  text-align: center;
  margin-left: 4rem;
}

a {
  color: white;
  text-decoration: none;
}

.nav-menu {
  background-color: #00194a;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
}

.nav-menu.active {
  right: 0;
  transition: 350ms;
}

.nav-text {
  font-size: 35px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 4px 16px;
  list-style: none;
  height: 45px;
}

.nav-text a {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 95%;
  height: 100%;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #2475ef;
}

.nav-menu-items {
  width: 100%;
  padding-right: 20px;
}

.navbar-toggle {
  background-color: #00194a;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
}

span {
  margin-left: 16px;
}
